<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Video</ng-template>
      <div *ngIf="videoLink">
        <iframe [src]="videoLink" width="560" height="315" frameborder="0" allowfullscreen></iframe>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Document</ng-template>
      <div *ngIf="documentContent">
        <div class="document-container" [innerHTML]="documentContent"></div>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Exam Paper</ng-template>
      <div class="exam-paper-header">
        <div class="left">Quiz Code: {{ quizzes[0]?.quizCode }}</div>
        <div class="middle">
          <div>Subject: {{ quizzes[0]?.subject }}</div>
          <div>Title: {{ quizzes[0]?.title }}</div>
          <div>Duration: {{ quizzes[0]?.duration }} mins</div>
        </div>
        <div class="right">Total: {{ quizzes[0]?.totalMarks }}</div>
      </div>

      <div class="exam-paper-body">
        <div *ngFor="let question of quizzes" class="question">
          <span class="question-text">{{ question.question }}</span>
          <div class="options">
            <label *ngFor="let option of question.options" class="option">
              <input type="radio" [name]="question.id" [value]="option">
              {{ option }}
            </label>
          </div>
        </div>
      </div>

      <div class="exam-paper-footer">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button>Submit</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>