<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.svg" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2" style="color: aliceblue !important;padding-left: 10px; ">APPLICATIONS</h2>
  <div style="margin-bottom: 20px;">
    <a style="color: azure; padding-left: 20px; text-decoration: none;" routerLink="/dashboard">
      <mat-icon style="color: aliceblue !important">home</mat-icon>Dashboard
    </a>
  </div>
  <div style="margin-bottom: 20px;">
    <a style="color: azure; padding-left: 20px; text-decoration: none;" routerLink="profile">
      <mat-icon style="color: aliceblue !important ">account_circle</mat-icon>Profile
    </a>
  </div>
  <div style="margin-bottom: 20px;">
    <a style="color: azure; padding-left: 20px;">
      <mat-icon style="color: aliceblue !important ">credit_card</mat-icon>Amount
    </a>
  </div>
  <div style="margin-bottom: 20px;">
    <a routerLink="courselist" style="color: azure; padding-left: 20px;text-decoration: none;">
      <mat-icon style="color: aliceblue !important ">school</mat-icon>Course List
    </a>
  </div>
  <div style="margin-bottom: 20px;">
    <a routerLink="paymentlist" style="color: azure; padding-left: 20px;text-decoration: none;">
      <mat-icon style="color: aliceblue !important ">credit_card</mat-icon>Payment List
    </a>
  </div>
  <div style="margin-bottom: 20px;">
    <a routerLink="dashboardcourse" style="color: azure; padding-left: 20px;text-decoration: none;">
      <mat-icon style="color: aliceblue !important ">school</mat-icon>All Courses
    </a>
  </div>
  <div style="margin-bottom: 20px;">
    <a routerLink="quiz" style="color: azure; padding-left: 20px; text-decoration: none;">
      <mat-icon style="color: aliceblue !important ">menu_book</mat-icon>Quiz
    </a>
  </div>
  <div style="margin-bottom: 20px;">
    <a routerLink="quizlist" style="color: azure; padding-left: 20px; text-decoration: none;">
      <mat-icon style="color: aliceblue !important ">menu_book</mat-icon>Quiz List
    </a>
  </div>
  <div style="margin-bottom: 20px;">
    <a routerLink="exampaperform" style="color: azure; padding-left: 20px; text-decoration: none;">
      <mat-icon style="color: aliceblue !important ">menu_book</mat-icon>Exam Paper
    </a>
  </div>
  <div style="margin-bottom: 20px;">
    <a style="color: azure; padding-left: 20px;">
      <mat-icon style="color: aliceblue !important ">hourglass_disabled</mat-icon>Exam Result
    </a>
  </div>
  <div style="margin-bottom: 20px;">
    <a routerLink="/login" style="color: azure; padding-left: 20px;text-decoration: none;">
      <mat-icon style="color: aliceblue !important ">exit_to_app</mat-icon>Logout
    </a>
  </div>

</mat-nav-list>